doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='pjm cv')
        meta(name='author', content='panjiangming')

        title CV - Pan Jiangming

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Pan Jiangming
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#project_research_experience') Project & Research Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#work_experience') Work Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Honors & Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Pan
                        span.text-primary Jiangming
                    .subheading.mb-5
                        | 318 Liuhe Road · Hangzhou · Zhejiang · China · Postal Code: 310023 ·
                        a(href='mailto:panjm2001@126.com') panjm2001@126.com
                    p.lead.mb-5
                        | I'm a proficient backend development engineer with a foundational knowledge of front-end technologies.
                        | My experience extends to participating in ACM algorithm competitions
                        | where I've had the honor of receiving several recognitions.
                        | While they may not be numerous, they are a testament to my dedication and skill.
                    .social-icons.mb-5
                        a.social-icon(href='https://github.com/pjimming/' target='_blank')
                            i.fab.fa-github
                        //- a.social-icon(href='https://weibo.com/n/for_PJM' target='_blank')
                        //-     i.fab.fa-weibo
                        //- a.social-icon(href='https://space.bilibili.com/277917859' target='_blank')
                        //-     i.fab.fa-bilibili
                        a.social-icon(href='https://wiki.pjmcode.top' target='_blank')
                            i.fas.fa-blog
                        a.social-icon(href='https://pjmcode.top' target='_blank')
                            i.fas.fa-house
                        a.social-icon(href='/zh.html' title='中文版')
                            i.fas.fa-language
                        a.social-icon(href='assets/resume/pjm-resume-zh.pdf' target='_blank')
                            i.fas.fa-file-pdf

                    span.lead
                        | Copyright
                        i.far.fa-copyright
                        span.id#copyrightYear
                        | Pan Jiangming


            hr.m-0

            // Project & Research Experience
            section#project_research_experience.resume-section
                .resume-section-content
                    h2.mb-5 Project & Research Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-3 BaiZe | Golang project package dependency visualization tool
                                a(href='https://github.com/pjimming/baize' target='_blank')
                                    i.fab.fa-github.fa-bounce
                            .subheading.mb-2 Full Stack Development😼
                            p.mb-1 By graphically displaying the relationship between package dependencies in a Golang project, developers can more easily and clearly view the logic of package dependencies in the current project.
                            ul.mb-0
                                li The backend uses Golang as the main programming language, and the framework uses go-zero.
                                li The front end uses the Vue.js framework, the UI component library uses bootstrap5 and element-plus, and the graph rendering engine uses AntV G6.
                                li Packaging tools used: static front-end pages use statik, and configuration files use go-bindata.
                        .flex-shrink-0
                            span.text-primary 2023.8

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-3 RLock | A Redis distributed lock developed based on Golang
                                a(href='https://github.com/pjimming/rlock' target='_blank')
                                    i.fab.fa-github.fa-bounce
                            .subheading.mb-2 Personal Development🙋
                            p.mb-1
                                | Under the distributed system, resources are protected by using locks,
                                | and due to the expiration mechanism of the Redis database, the possibility of deadlocks is largely avoided.
                                | At the same time, the lock implements functions such as reentrancy, blocking application,
                                | and asynchronous lease renewal. In the case of multiple Redis nodes,
                                | the RedLock algorithm is implemented to balance high availability and data consistency.
                            ul.mb-0
                                li During lock, unlock and lease renewal operations, the atomicity of operations is satisfied by executing Lua scripts.
                                li The Hash data structure is used to support the reentrancy of the lock. If the node resource that acquires the lock applies for the lock again, it will not be blocked.
                                li When requesting a lock in a blocking manner, if the tryLock fails, the lock will be continuously applied for in a spinning manner until the lock is successfully applied or the block times out.
                                li Use the watchdog to realize the asynchronous renewal of the Redis lock, and use the watchdog's running flag to ensure that the watchdog will not start repeatedly when the lock is re-entered. Pass the end command through the context to realize the termination and renewal operation of the watchdog.
                                li Implement the RedLock algorithm to ease the contradiction between high availability and data consistency in the case of multiple Redis nodes.
                        .flex-shrink-0
                            span.text-primary July 2023 - Aug 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-3 CMDB | A configuration management database developed based on Golang
                            .subheading.mb-2 Backend R&D🤵
                            p.mb-1 Realized the design and development of the back-end system of Qiniu Cloud's new generation of enterprise-level CMDB, and released the version through access to the CI/CD process.
                            ul.mb-0
                                li Independently design the distributed mechanism, and ensure data synchronization between the two systems by reconstructing the service layer of the old CMDB system. And the integrated operation failure alarm mechanism prevents abnormalities during data synchronization from being unaware.
                                li Develop ApiLog middleware, collect http requests at the route layer, and record related data such as request interface, operator, operation time, IP address, and whether the request is successful.
                                li The global search API is implemented through concurrent requests to ensure concurrency safety, and the average search time for the entire database is about 2s. Tried the prefix trie and AC automata algorithm, the effect is not ideal.
                                li Try to use the memory search algorithm to process domain name resolution records, process 100,000 domain name resolution records in milliseconds, and get 9,800,000 [initial domain name -> IP] records.
                                li Independently design the data permission system, and control the data access permissions of various roles of different users through the RBAC system.
                                li Connect to Tencent Cloud DNSPod, use CMDB as the data entry, and write plug-ins to keep the data consistent.
                                li Generate jnlp files through remote out-of-band control, run the vnc environment, and remotely control the server.
                        .flex-shrink-0
                            span.text-primary May 2023 - Present

            hr.m-0

            // Work Experience
            section#work_experience.resume-section
               .resume-section-content
                    h2.mb-5 Work Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-3 Qiniu Cloud
                                a(href='https://www.qiniu.com/' target='_blank')
                                    img(src='assets/img/qiniu-logo.png', alt='', style="height:32px; border-radius:5px;")
                            .subheading.mb-2 Backend Development Intern
                            p.mb-1
                                | Mainly responsible for the design and development of multiple components of the Qiniu Cloud
                                | enterprise level DevOps platform, with the programming language mainly being Golang.
                            ul.mb-0
                                li Responsible for the development of Qiniu Cloud's early enterprise-level CMDB, designing related systems, developing back-end API interfaces, plug-ins, middleware, and daily maintenance.
                                li Try to optimize the mass data migration tool by using the strategy of coroutine and paging, and improve the performance by more than 100 times while ensuring the safety of concurrency. The original tool can migrate 3,200 pieces of data within 200 seconds. Within 300 seconds, 450,000 pieces of data can be migrated.
                        .flex-shrink-0
                            span.text-primary May 2023 - Present

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Zhejiang University of Science and Technology
                                a(href='https://zust.edu.cn/' target='_blank')
                                    img(src='assets/img/zust-logo.jpg', alt='', style="height:32px;")
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Science and Technology (National First Class Major)
                            p Core courses: Computer Network, Operating System, Computer Composition, Data Structure, Database, etc
                        .flex-shrink-0
                            span.text-primary Sept 2020 - June 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Zhejiang Lin'an Middle School
                        .flex-shrink-0
                            span.text-primary Sept 2017 - June 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Jincheng No.1 Middle school, Lin'an District, Hangzhou
                        .flex-shrink-0
                            span.text-primary Sept 2014 - June 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Chengnan Primary School, Lin'an District, Hangzhou
                        .flex-shrink-0
                            span.text-primary Sept 2008 - June 2014

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Language & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-golang
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-ubuntu
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js
                        li.list-inline-item
                            i.fab.fa-vuejs
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-git-alt
                    .subheading.mb-3 Ability
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Master the basic grammar of Go, and be familiar with the underlying structure and
                            | expansion mechanism of Slice and Map. Proficiency in C/C++, Python, Shell.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with the GMP model, and understand the implementation of concurrency at the bottom of Go.
                            | For example: sync package, Goroutine, channel and other related principles.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with Go language garbage collection mechanism, understand escape analysis and GC optimization scheme.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with computer network related knowledge, understand UDP, TCP, HTTP, HTTPS and other common network protocols.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with MySQL database, including index, transaction, storage engine, lock mechanism.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with the usage scenarios and internal implementation of Redis data types,
                            | understand its persistence and expiration and elimination strategies,
                            | and understand high cache concurrency scenarios, such as cache avalanche, cache penetration, etc.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with the addition, deletion, modification and query operations of MongoDB,
                            | and understand the principles of its replica set and fragmentation.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with programming in Linux environment and understand some basic Linux commands.
                            | Familiar with the use of Docker containers, master the basic commands of Docker.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Proficiency in using Git tools and understanding the use of Makefile.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Understand the distributed microservice framework, have experience in using gRPC,
                            | and understand basic theories such as MapReduce, GFS, Raft, etc.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Years of experience in the ACM algorithm competition, with good coding style and naming conventions.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Have a good ability to analyze the cause of the problem, quickly locate the problem and quickly solve the bug.

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | In the outdoors, I like to pursue beautiful scenery and physical exercise,
                        | go into nature to feel the beauty of nature, and go to the court to feel the charm of skills and talents.
                    p.mb-0
                        | When I am alone or sitting in front of the computer,
                        | I like to watch historical works, deep documentaries, and science fiction movies;
                        | I have been exposed to building blocks and models; I will spend a lot of time on programming.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Honors & Awards
                    .subheading.mb-3 Honorary Certification
                    ul.fa-ul
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Outstanding Graduates from Zhejiang University of Science and Technology 2024
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Intermediate Industrial Internet Platform Development Engineer 2023
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Author of open source project
                            a(href="https://github.com/pjimming/rlock" target='_blank') RLock
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Author of open source project
                            a(href="https://github.com/pjimming/baize" target='_blank') Baize
                        li
                            span.fa-li
                                i.fas.fa-award.text-warning
                            | Three Software Copyrights
                    .subheading.mb-3 Excellence Evaluation
                    ul.fa-ul
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Zhejiang University of Science and Technology Excellent Study Style Scholarship 2022-2023
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Third Prize of Innovation and Entrepreneurship Scholarship of ZUST 2022-2023
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Zhejiang Provincial Government Scholarship 2021-2022
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Third Prize of Innovation and Entrepreneurship Scholarship of ZUST 2021-2022
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ZUST Excellent Student Second Prize Scholarship 2021-2022
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ZUST's Three Good Students 2021-2022
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ZUST Excellent Student Second Prize Scholarship 2020-2021
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ZUST's Three Good Students 2020-2021
                    .subheading.mb-3 Competition Awards
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | CCCC - The 8
                            sup th
                            | China College Computer Competition GPLT National Finals - Gold Award🥇 2023
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | The 14
                            sup th
                            | Blue Bridge Cup Software and Information Technology Professionals Competition
                            | C/C++ Group (National Competition) - Silver Award🥈 2023
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | The 14
                            sup th
                            | Blue Bridge Cup Software and Information Technology Professionals Competition
                            | C/C++ Group (Provincial Competition) - Gold Award🥇 2023
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | RAICOM - Robot Developer Contest CAIP Programming Design (Provincial Competition) - Silver Award🥈 2023
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | ICPC - The 19
                            sup th
                            | Zhejiang Provincial College Student Programming Contest - Silver Award🥈 2022
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | CCCC - The 7
                            sup th
                            | China College Computer Competition GPLT National Finals - Silver Award🥈 2022
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | The 13
                            sup th
                            | Blue Bridge Cup Software and Information Technology Professionals Competition
                            | C/C++ Group (Provincial Competition) - Silver Award🥈 2022
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | RoboCom - Robot Developer Contest CAIP Programming Design (National Competition) - Bronze Award🥉 2022
                        li
                            span.fa-li
                                i.fas.fa-medal.text-warning
                            | RoboCom - Robot Developer Contest CAIP Programming Design (Provincial Competition) - Silver Award🥈 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
